body {
  line-height: 1;
  background: transparent;
  color: inherit;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(150, 150, 150, 0.7) rgba(240, 240, 240, 0.3);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}
